<div class="textcontainer">
    <h1>Om denna webbplats</h1>
    <h2>Hur webbplatsen är skapad</h2>
    <p>Denna webbplats är skapad med hjälp av Angular.</p>
    <p>För att skapa webbplatsen har jag använt komponenter. Jag har förutom själva innehållssidorna skapat en komponent för sidhuvud och sidfot som jag återanvänder på alla innehållssidor.</p>
    <p>Jag sköter routing genom Angulars inbyggda metod för det.</p>
    <p>Jag anväder vanlig CSS för detta projekt. CSS-koden är uppdelad efter kompoenter, med undantag för lite kod som är relevant för alla sidor, den lade jag direkt i style.css så att jag inte behöver upprepa den i varje komponents css.</p>
    <p>För sidan där man kan konvertera olika enheter använder jag data-binding för att koppla ihop min ts-kod med html.</p>
    <h2>Slutsatser</h2>
    <p>Detta känns som ett väldigt bra sätt att jobba på! Jag är lite osäker på exakt hur jag ska fördela generell CSS som ska användas på alla sidor CSS, som typsnitt och liknande, mellan t.ex. den generella Styles.css och app.component.css, om man alls ska göra så. Lite oklart. Samma sak gäller för kod som kan återanvändas på olika sätt. Borde man redan från början lägga logik för att hantera omvandling av enheter som en helt separat komponent och inte som en del av den aktuella sidan? Har lite svårt att avgöra hur granulär man ska vara.</p>
    <p>Men som sagt, detta känns som ett riktigt bra sätt att jobba på.</p>
</div>
