<div class="wrapper">
<h1>Konvertera</h1>
<div class="temp">

    <label for="num1">Konvertera</label>
    <input type="number" id="num1"[(ngModel)]="num1">
    <select id="type" (change)="printUnit()" [(ngModel)]="type" >
        <option value="C">Celsius</option>
        <option value="F">Fahrenheit</option>
        <option value="M">Meter</option>
        <option value="FT">Fot (Feet)</option>
    </select>
    <p>till {{ othertype }}</p>

    <button (click)="convert()">Konvertera!</button>

    <p class="result">Resultat: {{ result }} {{ othertype }} </p>

</div>
</div>
